<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service (Windows): httpPlatformHandler (recomendado por Microsoft para Node).
  Todos los verbos HTTP van a Node; evita 405 de WebDAV/iisnode en POST /trpc.
-->
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <webDAV enabled="false" />
    <handlers>
      <remove name="WebDAV" />
      <add
        name="httpPlatformHandler"
        path="*"
        verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified"
        requireAccess="Script"
      />
    </handlers>
    <httpPlatform
      processPath="node"
      arguments=".\server.js"
      stdoutLogEnabled="true"
      stdoutLogFile="\\?\%home%\LogFiles\stdout"
      startupTimeLimit="120"
      startupRetryCount="10"
    />
  </system.webServer>
</configuration>
