<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service (Windows): httpPlatformHandler en lugar de iisnode.
  Enruta todos los verbos HTTP (GET, POST, …) a Node; evita 405 por WebDAV/rewrite de IIS.
  Ver: https://learn.microsoft.com/azure/app-service/configure-language-nodejs
-->
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="TRACEVerbHandler" />
      <add
        name="httpPlatformHandler"
        path="*"
        verb="*"
        modules="httpPlatformHandler"
        resourceType="Unspecified"
        requireAccess="Script"
      />
    </handlers>
    <httpPlatform
      processPath="%AZURE_NODEJS_INSTALL_DIR%\node.exe"
      arguments="server.js"
      stdoutLogEnabled="true"
      stdoutLogFile="\\?\%home%\LogFiles\stdout"
      startupTimeLimit="120"
      startupRetryCount="10"
    >
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
